.App .showbox h1{
  font-size: 100px;
  color: rgb(168, 162, 162);
}
.App .showbox button{
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}
.App .showbox button:hover{
  background-color: floralwhite;
  color: dodgerblue;
  border-style: solid;
  border-width: 2px;
  border-color: dodgerblue;
}
.App{
  border-style: solid;
  border-radius: 20px;
  width: 50%;
  border-color: dodgerblue;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}